{% extends 'base.html' %}
<!--  -->
{% load static %}

<!--  -->
{% block content %}

<section id="home" class="container-lg p-5 bg-dark text-white">
  <div
    class="d-flex flex-column flex-lg-row justify-content-between align-items-center"
  >
    <div>
      <h1>Hi! I am Sandy.</h1>
      <p>Student</p>
      <p>
        A 3rd Year Bachelor of Science in Information Technology student at
        Palawan State University.
      </p>
    </div>
    <div class="w-25">
      <img
        class="ratio ratio-1x1 rounded-circle"
        src="{% static 'images/pfp.jpg' %}"
        alt="pfp"
      />
    </div>
  </div>
</section>

<section
  id="about"
  class="container-sm p-5 d-flex flex-column flex-lg-row justify-content-between"
>
  <div class="ratio ratio-1x1">
    <img src="{% static 'images/about.png' %}" alt="about-image" />
  </div>
  <div class="d-flex flex-column justify-content-center">
    <h2>About me</h2>
    <p>
      A 3rd Year Bachelor of Science in Information Technology student at
      Palawan State University with a strong passion for technology and a drive
      to excel in the field. Eager to learn new and diverse skills and
      knowledge. Strong analytical and problem-solving skills, with hands-on
      experience in various IT projects. Committed to staying updated with the
      latest technological advancements. Actively seeking opportunities to apply
      my skills in real-world environments and contribute to innovative
      projects.
    </p>
  </div>
</section>

<section
  id="expertise"
  class="container p-5 d-flex flex-column flex-lg-row justify-content-between align-items-center bg-dark text-white"
>
  <div class="d-flex flex-column justify-content-center">
    <h2>My Expertise</h2>
    <div class="d-flex gap-12">
      <ul>
        <li>Technical Documentation</li>
        <li>Process Improvement</li>
      </ul>
      <ul>
        <li>Problem Solving</li>
        <li>Teamwork and Collaboration</li>
      </ul>
    </div>
  </div>
</section>

<section id="contact" class="container p-3">
  <div class="d-flex flex-column justify-content-center">
    <h2>Contact me</h2>
    <div class="container">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            Never share your email with anyone else.
          </div>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextarea2"
            style="height: 100px"
          ></textarea>
          <label for="floatingTextarea2">Message</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
